@model List<Player>
        <div>
            <div class="select-wrapper">
                <p class="round-font roster-header">Welcome to DraftChat!</p>
                <label >Position:</label>
                <select class='drop-down' id='GetByPos'>
                    <option value='QB'>Quarterback</option>
                    <option value='RB'>Running Back</option>
                    <option value='TE'>Tight End</option>
                    <option value='WR'>Wide Receiver</option>
                </select>
            </div>
            <div class="select-wrapper">
                <label>Team:</label>
                <select class='drop-down' id='GetByTeam'>
                    <option value='ARI'>Arizona Cardinals</option>
                    <option value='ATL'>Atlanta Falcons</option>
                    <option value='BAL'>Baltimore Ravens</option>
                    <option value='BUF'>Buffalo Bills</option>
                    <option value='CAR'>Carolina Panthers</option>
                    <option value='CHI'>Chicago Bears</option>
                    <option value='CIN'>Cincinatti Bengals</option>
                    <option value='CLE'>Cleveland Browns</option>
                    <option value='DAL'>Dallas Cowboys</option>
                    <option value='DEN'>Denver Broncos</option>
                    <option value='DET'>Detroit Lions</option>
                    <option value='GNB'>Greenbay Packers</option>
                    <option value='HOU'>Houston Texans</option>
                    <option value='IND'>Indianapolis Colts</option>
                    <option value='JAX'>Jacksonville Jaguars</option>
                    <option value='KAN'>Kansas City Chiefs</option>
                    <option value='LAC'>Los Angeles Chargers</option>
                    <option value='LAR'>Los Angeles Rams</option>
                    <option value='MIA'>Miami Dolphins</option>
                    <option value='MIN'>Minnesota Dolphins</option>
                    <option value='NOR'>New Orleans Saints</option>
                    <option value='NWE'>New England Patriots</option>
                    <option value='NYG'>New York Giants</option>
                    <option value='NYJ'>New York Jets</option>
                    <option value='OAK'>Oakland Raiders</option>
                    <option value='PHI'>Philadelphia Eagles</option>
                    <option value='PIT'>Pittsburgh Steelers</option>
                    <option value='SEA'>Seattle Seahawks</option>
                    <option value='SFO'>San Fransisco 49ers</option>
                    <option value='TAM'>Tampa Bay Buccaneers</option>
                    <option value='TEN'>Tennessee Titans</option>
                    <option value='WAS'>Washington Redskins</option>
                    <option value='2TM'>Multiple Teams</option>
                </select>
            </div>
            <div class="select-wrapper">
                <label>Availability:</label>
                <select class='drop-down' id="GetByAvail">
                    <option value='false'>Taken</option>
                    <option value='true'>Available</option>
                </select>
            </div>
        </div>
        <div class="table-scroll">
            <table class='table-striped table-inner mt-3' id="playerTable" style="padding:2px">
                <thead class='thead thead-dark'>
                    <th class='col-1 sortHead' data-idx="0" data-direction="forward">Player Name</th>
                    <th class='col-1 sortHead' data-idx="1" data-direction="forward">Age</th>
                    <th class='col-1 sortHead' data-idx="2" data-direction="forward">Team</th>
                    <th class='col-1 sortHead' data-idx="3" data-direction="forward">Position</th>
                    <th class='col-1 sortHead' data-idx="4" data-direction="forward">Fantasy Pts</th>
                    <th class='col-1 sortHead' data-idx="5" data-direction="forward">Rank</th>
                    <th class='col-1' id='selectPlayer'>Draft Player</th>
                </thead>
                <tbody id='pTableBody'>
                @{
                    foreach(var player in @Model){
                        <tr>
                            <td class='col-1'>@player.Name</td>
                            <td class='col-1'>@player.Age</td>
                            <td class='col-1'>@player.TeamName</td>
                            <td class='col-1'>@player.Position</td>
                            <td class='col-1'>@player.FPointsNFL</td>
                            <td class='col-1'>@player.Rank</td>
                            <td class='col-1 selectPlayer'>
                                <button class='select-btn btn btn-primary btn-sm' data-name="Dan" data-player='@player.Name' data-userId="1" data-playerId="@player.PlayerId">Draft</button>
                                @{
                                    if(@player.FantasyTeamId == null){
                                        <span class="owner" data-FantastyTeamId="@player.FantasyTeamId">Available</span>
                                    } else {
                                        <span class="owner" data-FantastyTeamId="@player.FantasyTeamId">@player.FantasyTeam.TeamName</span>
                                    }
                                }
                                
                            </td>             
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
        

