@{
    ViewData["Title"] = "Home Page";
}
<div class="outer-container">

    <div class="left-container">
        <h1 class="welcome">Welcome @ViewBag.TeamName!</h1>
        <input id="TeamId" type=hidden value="@ViewBag.TeamId">

        <div id="tData">
            @Html.Partial("~/Views/Shared/PlayerData.cshtml")
        </div>
        <p class="round-font roster-header">Your Team Roster:</p>
        <div id="update-roster" class="roster-scroll roster-box">
            @Html.Partial("~/Views/Shared/RosterPartial.cshtml")
        </div>
    </div>
    <div class="right-container">
        <div class="timer-wrapper">
            <span class="round-number round-font">Round: #</span>
            <br>
            <span class="round-font">Round Countdown: </span>
            <span class="round-font" id="demo"></span>
            <span class="round-font" id="distance"></span>
        </div>
    <div class="chat-wrapper">
            <div class="row">
            <p class="chat-header round-font">Chat:</p>
                <div class="message-box col-6">
                    <ul id="messagesList"></ul>
                </div>
            </div>
        <div class="row">
            <div class="col-6">
                <input class="chat-input" type="hidden" id="userInput" value="@ViewBag.TeamName"/>
                <input class="chat-input" type="text" id="messageInput" placeholder="Comment Here"/>
                <button class="chat-input btn" id="sendButton" value="Send Message">Send Message</button>
            </div>
        </div>
        </div>
        @Html.Partial("RecentPicksPartial.cshtml")
    </div>
    <div class="far-right-container">
        <h4 id="teamList-header">Current Teams</h4>
        <ul id="teamList">
            @{
                foreach(FantasyTeam team in ViewBag.FantasyTeams){
                    <li class="team-icon" id="">@team.TeamName</li>
                }
            }
        </ul>
    </div>
    <h3><a asp-action="ClearAll" asp-controller="Home">Clear All DB</a></h3>
</div>
<script src="/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/playerTable.js"></script>